.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 316px;
  top: 15px;
}

header {
  display: flex;
  align-content: center;
  height: 115px;
}

.title {
  position: absolute;
  width: 395px;
  height: 33px;
  top: 30px;
  left: 10px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;

  color: #ffffff;
}

.infos-caixa {
  position: absolute;
  top: -6px;
  left: 670px;
}
