.purchase-container {
  position: absolute;
  top: 11%;
  left: 30%;
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background: #2d2f36;
  border-radius: 16px;
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.purchase-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.purchase-subtitle {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #a6b6d1;
  text-align: center;
  margin-bottom: 30px;
}

.purchase-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.purchase-form-group {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.purchase-label {
  font-size: 1rem;
  font-weight: 600;
  color: #a6b6d1;
  margin-bottom: 8px;
}

.purchase-input {
  width: 90%;
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid rgba(107, 18, 185, 0.9);
  background-color: #1c2025;
  color: #ffffff;
  transition: border-color 0.3s ease;
}

.purchase-input:focus {
  border-color: #7c4dff;
  outline: none;
}

.purchase-btn-add {
  margin-top: 40px;
  height: 50px;
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: rgba(107, 18, 185, 0.9);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.purchase-btn-add:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #7c4dff, #8c61ff);
}

.purchase-total {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.purchase-btn-submit {
  margin: 20px auto;
  display: block;
  padding: 14px 28px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #4caf50, #3e8e41);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.purchase-btn-submit:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #45a049, #3b7f3a);
}
.produto-selecionado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.purchase-list {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
.purchase-item {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #d3d3d3;
  text-align: center;
  margin-top: 10px;
}
.produto-imagem {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-image-container {
  display: flex;

  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #d3d3d3;

  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.product-image-preview {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.infos {
  margin-left: 20px;
}
.error-message {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;

  color: #ffffff;
  display: flex;
  justify-content: center;
}

.success-message {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;

  color: #4caf50;
}
@media (max-width: 768px) {
  .purchase-container {
    padding: 20px;
    width: 95%;
  }

  .purchase-form {
    flex-direction: column;
  }
}
